<div class="footer">
  <div class="row mt-3 mb-2">
    <div class="container col-4"></div>
    <div class="container col-4"><p>© 2022, Eric Chee</p></div>
    <div class="container col-4 social-icons">
      <a href="https://www.instagram.com/ericchee8/" target="_blank">
        <fa-icon class="social-icon" [icon]="faInstagram" size="lg"></fa-icon>
      </a>
      <a href="https://www.facebook.com/ericchee8" target="_blank">
        <fa-icon class="social-icon" [icon]="faFacebook" size="lg"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/in/eric-chee8/" target="_blank">
        <fa-icon class="social-icon" [icon]="faLinkedin" size="lg"></fa-icon
      ></a>
      <a href="https://twitter.com/ericchee97" target="_blank">
        <fa-icon class="social-icon" [icon]="faTwitter" size="lg"></fa-icon>
      </a>
      <a href="https://github.com/ericchee8" target="_blank">
        <fa-icon class="social-icon" [icon]="faGithub" size="lg"></fa-icon>
      </a>
    </div>
  </div>
</div>
