<div class="container">
  <div class="row mt-5 pb-3 align-items-center">
    <div class="col-12 col-md-6 text-center">
      <img
        src="https://i.postimg.cc/KvT7h4Zn/me.jpg"
        alt=""
        class="picture-of-me" />
    </div>
    <div class="col-12 col-md-6">
      <div class="container social-icons">
        <a href="https://www.instagram.com/ericchee8/" target="_blank">
          <fa-icon class="social-icon" [icon]="faInstagram" size="lg"></fa-icon>
        </a>
        <a href="https://www.facebook.com/ericchee8" target="_blank">
          <fa-icon class="social-icon" [icon]="faFacebook" size="lg"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/eric-chee8/" target="_blank">
          <fa-icon class="social-icon" [icon]="faLinkedin" size="lg"></fa-icon
        ></a>
        <a href="https://twitter.com/ericchee97" target="_blank">
          <fa-icon class="social-icon" [icon]="faTwitter" size="lg"></fa-icon>
        </a>
        <a href="https://github.com/ericchee8" target="_blank">
          <fa-icon class="social-icon" [icon]="faGithub" size="lg"></fa-icon>
        </a>
      </div>

      <h1><strong>Hi, I am Eric Chee</strong></h1>
      <h5><strong>A Graduate Software Engineer at Microlise</strong></h5>
      <p>
        I am a technology professional with over a
        year of experience in the industry at Microlise. Currently. Throughout my career, I have
        demonstrated expertise in my areas of focus, working on a range of
        projects that showcase my skills and adaptability. As an SRE, I was
        responsible for ensuring the reliability and performance of Microlise's
        software systems, maintaining and improving critical infrastructure to
        minimize downtime and enhance user experience. I also have extensive
        experience in software development, designing and building applications
        that deliver exceptional functionality and performance. Finally, as a
        data engineer, I collect, transform and organize data, providing
        valuable insights that have helped drive decision-making across the
        organization.
      </p>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12 col-md-4">
    <div class="project">
      Project 1 ToDoList App Vue.js and C# + Entity Framework
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="project">Project 2</div>
  </div>
  <div class="col-12 col-md-4">
    <div class="project">Project 3</div>
  </div>
</div>
