/* You can add global styles to this file, and also import other style files */
/* .background { */
/* background-color: #1b2432; */
/* padding-bottom: 100px; */
/* min-height: 100vh; */
/* width: 100vw; */
/* } */

.background {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("src/images/iceland.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
}
